@{
    
}
<style >
    body {
        background-color: #23272A;
    }


    #ufo {
        left:15%;
        position:relative;
        /*z-index:1;*/
        height:432px;
        width: 768px;
    }
    #denied {
        position: absolute;
        top: 20px;
        left: 250px;
        height: 400px;
        width:auto;
        /*z-index:2;*/
    }
    #img-div {
        position: relative;
        top: 100px;
        left: 0;
    }
</style>
<div id="img-div">
    <img id="ufo" src="~/src/Ufo.jpg"/>
    <img id="denied" src="~/src/Denied.png"/>
</div>