@{
    Layout = "_Layout2";
    ViewData["Title"] = "Home";
}

<h1>Hello!</h1>

@section ErrorMessage{


    @if (TempData["ErrorMessage"] != null)
    {


        <div class="error-box">
            <p> @TempData["ErrorMessage"]</p>
        </div>

    }

}

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}