@{ 
    Layout = "";
    //ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Login.css" />
</head>
<body>
    <span class="iconify" data-icon="typcn:arrow-back" data-width="40" data-height="40"></span>
    
    <div class="Login">
        
        <form>
            <div class="Login-Form">
                
                <label id="Form-Email">Email</label>
                <input class="Form-Input" id="Form-Input-Email"/>
                <br />
                <label id="Form-Pass">Password</label>
                <input class="Form-Input" id="Form-Input-Pass"/>
                <button id="Form-Submit"> Submit</button>
                <p>Not a member? <a >Sign up!</a></p>
            </div>
        </form>
        
    </div>

    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>